{% extends '/profile/base.html.twig' %}
{% block main_content %}
    <!-- Main content -->
<div class="content-wrapper">
    {% include '/components/page_header/page_header.html.twig' with {'seccion': 'Creación de proyectos' } %}
    <!-- Content area -->
    <div class="content">
        <!-- Main charts -->
        <div class="row">
            <div class="col-xl-7">
                <!-- Color options -->
                <div class="mb-3 pt-2">
                    <h6 class="mb-0 font-weight-semibold">
                      LISTADO
                    </h6>
                </div>
            </div>
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
    {% endblock main_content %}
